
.dropdown-menu:hover{
    color: aqua;
}

.navbar-brand{
background-color: #78c2ad;
color: white;
font-family:  "Times New Roman", Times, serif;
font-size: 30px;
font-weight: bold;
display: inline-block;
text-align: center;
}

.navbar{
    background-color: rgb(197, 27, 27);
    height: 72px;
}
.collapse navbar-collapse{
    height: 56px;
}

@media (max-width: 575px) {
    .navbar{
        background-color: #78c2ad;
        height: 72px;
    }
    .navbar-nav{
        margin: 20px;
    }
}

.nav-link:hover {
    background-color: lightgray;
    color: #78c2ad;
  }
.dropdown-item:hover{
    background-color: lightgray;
    color: #78c2ad;
  }

 