:root {
    --mint: #85c2b2;
    --white: white;
    --grey: lightgray;
  }

  body{
    background-color: var(--grey);
 }
 
.navbar-brand:hover{
    color: var(--white);
}

.navbar-brand{
background-color: var(--mint);
color: var(--white);
font-family:  "Times New Roman", Times, serif;
font-size: 30px;
font-weight: bold;
display: inline-block;
text-align: center;
}

.navbar{
    background-color: var(--white);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 56px;   
}
.collapse navbar-collapse{
    height: 56px;
}

@media (max-width: 767px) {
    .navbar{
        background-color: var(--mint);
    }
    body{
        background-color: var(--white);
     }
     .fixed-top{
        position:relative;
   }
}

.nav-link:hover {
    background-color: var(--grey);
    color: var(--mint);
  }
.dropdown-item:hover{
    background-color: var(--grey);
    color: var(--mint);
  }

